.bull
  position: absolute
  right:0
  cursor: pointer
  width: 1000px
  right: -240px
  svg
    width: 740px
  svg:not(:root)
    overflow: visible
  polygon
    transition: fill .2s ease-in-out
    &:hover
      fill: #F05CFA
