.bull
  position: absolute
  right:0
  cursor: pointer
  width: 900px
  right: -140px
  svg
    width: 720px
  svg:not(:root)
    overflow: visible
  polygon
    transition: fill .2s ease-in-out
    &:hover
      fill: #F05CFA
