:global(#root)
  font-family: Gotham Pro

.wrap
  width: 100%
  height: 100vh
  display: block
  background: #333
  background: url('./assets/bg.jpg')
  align-items: center
  overflow-x: hidden
  position: relative

.container
  width: 1140px
  padding: 20px
  margin: 0 auto
  display: flex
  align-items: center
  overflow: visible
  position: relative

.mainText
  max-width: 750px
  color white
  h1
    font-size: 74px
    font-weight: 900
    text-transform: uppercase
    margin: 20px 0
  p
    font-size: 26px
    font-weight: 300
    line-height: 42px

.animationSelector
  text-align: center
  position: absolute
  top: 50px
  left: 50%
  margin-left: -80px
  color white
  opacity: .15
  transition opacity .3s
  &:hover
    opacity: 1
  button
    cursor: pointer
    font-weight: 18px
    color white
    width: 60px
    height: 20px
    background: none
    border: 1px solid white
    border-radius: 3px
    display: inline-block
    margin: 10px 5px

.appear
  opacity: 0.01

.appearActive
  opacity: 1
  transition: opacity .7s ease-in-out
